#main_board {
    background: var(--back-color2);
    width: var(--board-width);
    height: var(--board-height);
    display: grid;
    grid-template-columns: repeat(var(--rows-for-tile), var(--tile-width));
    grid-template-rows: repeat(var(--cols-for-tile), var(--tile-width));
}